.h3{
	font-size: 1.3 rem;
}

.h4{
	font-size: 0.4 rem;
}

.login {
	width: 400px;
	margin: auto;
	position: absolute;
    top: 100px;
}

.logo {
    width:100%;
    padding-bottom: 30px;
}

.btn-primary{
	background-color: #a76f1ca8;
	border-color: #a76f1ca8;
	margin: 30px;
	width: 30%
}

.form-control:focus{
	border-color:#a76f1ca8;
	box-shadow: 0px 0px 0px 0.2rem rgba(228, 192, 33, 0.25)
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow:0px 0px 0px 0.2rem rgba(228, 192, 33, 0.25);
}
.btn-primary:hover {
    background-color: #a76f1ca8;
    border-color: #a76f1ca8;
}

.container{
    width:100%;
}

.btn-menu {
    color: #fff;
    background-color: rgb(15, 15, 15);
    border-color: rgb(15, 15, 15);
    width: 100%;
    margin: 0%;
    font-size:1.5em;
    text-align: left;
    padding-left:30px;
}

.btn-menu:hover {
    color: #a76f1ca8;
}

.profiler{
    width: 80%;
    border-radius: 50%;
}

.notification{
    text-align: center;
    background-color: #a76f1ca8;
    width:100%;
    margin: 0px;
    padding: 0px;
    height:100%;
    color:#fff !important;
    font-size: 1em !important;
}


.container-fluid{
    padding-right:0px;
    padding-left:0px;
} 

.main-panel{
    padding-left:20px;
    margin: 10px;
}

.developer-stats{
    border:1px solid #a76f1ca8;
    margin:20px;
    padding:10px;
}

.developer-stats {
    font-size:0.2rem !important;
}

.social-stats{
    padding:10px;
    border:1px solid #a76f1ca8;
    margin:20px;
}

.social-stats #h4{
    font-size:2em;
}

